body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    padding: 0 16px;
  }
  header h1 {
    margin: 0;
    font-size: 22px;
    line-height: 64px;
  }
  .sp-menu {
    margin-left: auto;
  }
  .sp-menu #bargar-open {
    font-size: 32px;
    line-height: 64px;
    cursor: pointer;
  }
  .pc-menu {
    display: block;
    margin-left: auto;
  }
  .pc-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .pc-menu ul a {
    display: block;
    width: 80px;
    line-height: 64px;
    text-align: center;
  }
  .pc-menu ul a:hover {
    background-color: #f2f2f2;
  }
  .container {
    margin: 30px auto;
    width: 500px;
  }
  .container .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .container .menu li a {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 8px 0;
    color: #555;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
  }
  .container .menu li a.active {
    background: #555;
    color: #fff;
  }
  .container .menu li a:not(.active):hover {
    opacity: 0.5;
    transition: 0.4s;
  }
  .content {
    display: none;
  }
  .content.active {
    display: block;
    background: #555;
    color: #fff;
    min-height: 150px;
    padding: 12px;
  }
  .faq h1 {
    font-size: 18px;
    border-bottom: 1px solid #000;
    padding: 8px 16px;
    margin-bottom: 16px;
  }
  .faq dl div {
    margin-bottom: 8px;
  }
  .faq dl div dt {
    padding: 8px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative;
  }
  .faq dl div dt::before {
    content: "Q. ";
  }
  .faq dl div dt::after {
    content: "+";
    position: absolute;
    top: 8px;
    right: 16px;
    transition: transform 0.3s;
  }
  .faq dl div.appear dt::after {
    transform: rotate(45deg);
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  .faq dl div.appear dd {
    display: block;
    -webkit-animation: 0.3s fadeIn;
            animation: 0.3s fadeIn;
  }
  .faq dl div dd {
    padding: 8px;
    margin: 0;
    display: none;
  }
  .faq dl div dd::before {
    content: "A. ";
  }
}
@media screen and (min-width: 600px) {
  .sp-menu {
    display: none;
  }
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}

.overlay #bargar-close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px), transform 0.3s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: 0.1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: 0.2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: 0.3s;
}

main {
  padding: 0 16px;
}

#open, #close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto;
}

#mask {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background-color: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 11;
}

#modal > p {
  margin: 0;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}

.pc-menu {
  display: none;
}/*# sourceMappingURL=style.css.map */