@media screen and (max-width: 600px) {

    body {
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        max-width: 100%;
        color: #444;
    }

    header {
        display: flex;
        padding: 0 16px;
    
        h1 {
            margin: 0;
            font-size: 22px;
            line-height: 64px;
        }
    }

    .sp-menu {
        margin-left: auto;
        
        #burger-open {
            font-size: 32px;
            line-height: 64px;
            cursor: pointer;
        }   
    }

    .pc-menu {
        display: block;
        margin-left: auto;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

            a {
                display: block; 
                width: 80px;
                line-height: 64px;
                text-align: center;
                
                &:hover {
                    background-color: #f2f2f2;
                }
            }
        }
    }

    .carousel {
        width: 80%;
        margin: 16px auto;
        
        .contents {
            margin: 1rem;
            overflow: hidden;
            position: relative;
            
            ul {
                list-style: none;
                display: flex;
                height: 100%;
                transition: transform .3s;
                
                li {
                    height: 100%;
                    min-width: 100%;
                    
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            
            #prev,
            #next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border: none;
                background-color: #000;
                color: #fff;
                font-size: 24px;
                padding: 0 0 0.1rem;
                cursor: pointer;
                
                &:hover {
                    opacity: .8;
                }
            }
            
            #prev {
                left: 0;
            }
            
            #next {
                right: 0;
            }
            
            .hidden {
                display: none;
            }
        }
        
        .slide-button {
            margin-top: 16px;
            text-align: center;
            
            button {
                border: none;
                width: 16px;
                height: 16px;
                background: #ddd;
                border-radius: 50%;
                cursor: pointer;
            }

            button + button {
                margin-left: 8px;
            }

            .current {
                background: #999;
            }
        }
    }


    .contact {
        margin: 30px auto;
        max-width: 100%;

        .menu {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
    
            li a {
                display: inline-block;
                width: 100px;
                text-align: center;
                padding: 8px 0;
                color: #555;
                text-decoration: none;
                border-radius: 4px 4px 0 0;
                
                &.active {
                    background: #555;
                    color: #fff;
                }

                &:not(.active):hover {
                    opacity: 0.5;
                    transition: 0.4s;
                }
            }
        }

    }

    .content {
        display: none;
        
        
        &.active {
            display: block;
            background: #555;
            color: #fff;
            padding: 12px;
        }
    }
    
    .faq {
        h1 {
            font-size: 18px;
            border-bottom: 1px solid #000;
            padding: 8px 16px;
            margin-bottom: 16px;
        }

        dl {
            div{
                margin-bottom: 8px;

                
                dt {
                    padding: 8px;
                    cursor: pointer;
                    user-select: none;
                    position: relative;
                    
                    &::before {
                        content: 'Q. ';
                    }
                    
                    &::after {
                        content: '+';
                        position: absolute;
                        top: 8px;
                        right: 16px;
                        transition: transform .3s;
                    }
                }
                
                &.appear {
                    dt::after {
                        transform: rotate(45deg);
                    }
                }
                
                @keyframes fadeIn {
                    0% {
                        opacity: 0;
                        transform: translateY(-10px);
                    }

                    100% {
                        opacity: 1;
                        transform: none;
                    }
                }
    
                &.appear dd {
                    display: block;
                    animation: .3s fadeIn;
                }

                dd {
                    padding: 8px;
                    margin: 0;
                    display: none;
                    
                    &::before {
                        content: 'A. ';
                    }
                }
                
            }



        }

    }


}

@media screen and (min-width: 600px) {
    .sp-menu {
        display: none;
    }
}



    // .sp-menu #burger-open.hide {
    //     display: none;
    // }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.95);
        text-align: center;
        padding: 64px;
        opacity: 0;
        pointer-events: none;
        transition: opacity .6s;
    }

    .overlay #burger-close {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 32px;
        cursor: pointer;
    }

    .overlay ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .overlay li {
        margin-top: 24px;
        opacity: 0;
        transform: translateY(16px), transform .3s;
    }

    .overlay.show {
        opacity: 1;
        pointer-events: auto;
    }

    .overlay.show li {
        opacity: 1;
        transform: none;
    }

    .overlay.show li:nth-child(1) {
        transition-delay: .1s;
    }

    .overlay.show li:nth-child(2) {
        transition-delay: .2s;
    }

   
    .overlay.show li:nth-child(3) {
        transition-delay: .3s;
    }



    main {
        padding: 0 16px;
    }



    #open, #close {
        cursor: pointer;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 4px;
        text-align: center;
        padding: 12px 0;
        margin: 16px auto;
    }

    #mask {
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }

    #modal {
        background-color: #fff;
        width: 300px;
        padding: 20px;
        border-radius: 4px;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: transform 0.4s;
        z-index: 11;
    }

    #modal > p {
        margin: 0;
    }

    #mask.hidden {
        display: none;
    }

    #modal.hidden {
        transform: translate(0, -500px);
    }

    .pc-menu {
        display: none;
    } 